include run_tests.py
include run_examples.py
include run_all.py
include _execfile.py
include LICENSE.txt
include setup.cfg
include README.rst

recursive-include tests *
recursive-include examples *

exclude lcd/docs *
# exclude lcd/docs/_build/*
# recursive-include lcd/docs/source *

exclude build/*
exclude _HIDE/*

global-exclude .DS_Store
global-exclude */__pycache__/*

